USE [master]
GO
/****** Object:  Database [Exam]    Script Date: 1/20/2021 9:21:08 PM ******/
CREATE DATABASE [Exam]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Exam', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Exam.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Exam_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Exam_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Exam].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Exam]
GO
/****** Object:  Table [dbo].[Cho_Que]    Script Date: 1/20/2021 9:21:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cho_Que](
	[Cho_ID] [int] NOT NULL,
	[Que_ID] [int] NOT NULL,
 CONSTRAINT [PK_Cho_Que] PRIMARY KEY CLUSTERED 
(
	[Cho_ID] ASC,
	[Que_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Choice]    Script Date: 1/20/2021 9:21:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Choice](
	[Cho_ID] [int] NOT NULL,
	[Cho_Text] [varchar](50) NOT NULL,
	[State] [int] NOT NULL,
 CONSTRAINT [PK_Choice] PRIMARY KEY CLUSTERED 
(
	[Cho_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 1/20/2021 9:21:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[Crs_ID] [int] NOT NULL,
	[Crs_Name] [varchar](50) NOT NULL,
	[Date_End] [date] NOT NULL,
 CONSTRAINT [PK_Course] PRIMARY KEY CLUSTERED 
(
	[Crs_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 1/20/2021 9:21:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[Dept_ID] [int] NOT NULL,
	[Dept_Name] [varchar](50) NOT NULL,
	[Mgr_ID] [int] NOT NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[Dept_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exam]    Script Date: 1/20/2021 9:21:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exam](
	[Exam_ID] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[Duration] [time](7) NOT NULL,
	[St_ID] [int] NOT NULL,
	[Crs_ID] [int] NOT NULL,
	[Trial_No] [int] NOT NULL,
 CONSTRAINT [PK_Exam] PRIMARY KEY CLUSTERED 
(
	[Exam_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ins_Crs]    Script Date: 1/20/2021 9:21:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ins_Crs](
	[Ins_ID] [int] NOT NULL,
	[Crs_ID] [int] NOT NULL,
 CONSTRAINT [PK_Ins_Crs] PRIMARY KEY CLUSTERED 
(
	[Ins_ID] ASC,
	[Crs_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Instructor]    Script Date: 1/20/2021 9:21:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Instructor](
	[Ins_ID] [int] NOT NULL,
	[Ins_Name] [varchar](50) NOT NULL,
	[Ins_Email] [varchar](50) NOT NULL,
	[Ins_Hashed_Pwd] [varchar](200) NOT NULL,
	[Dept_ID] [int] NOT NULL,
 CONSTRAINT [PK_Instructor] PRIMARY KEY CLUSTERED 
(
	[Ins_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Que_Ins_Cho]    Script Date: 1/20/2021 9:21:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Que_Ins_Cho](
	[Que_Ins_ID] [int] NOT NULL,
	[Cho_ID] [int] NOT NULL,
 CONSTRAINT [PK_Que_Ins_Cho] PRIMARY KEY CLUSTERED 
(
	[Que_Ins_ID] ASC,
	[Cho_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Question]    Script Date: 1/20/2021 9:21:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question](
	[Que_ID] [int] NOT NULL,
	[Que_Type] [int] NOT NULL,
	[Que_Body] [varchar](150) NOT NULL,
	[Grade] [float] NOT NULL,
	[Crs_ID] [int] NOT NULL,
 CONSTRAINT [PK_Question] PRIMARY KEY CLUSTERED 
(
	[Que_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Question_Instance]    Script Date: 1/20/2021 9:21:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question_Instance](
	[Que_Ins_ID] [int] NOT NULL,
	[Que_No] [int] NOT NULL,
	[Que_ID] [int] NOT NULL,
	[Exam_ID] [int] NOT NULL,
 CONSTRAINT [PK_Question_Instance] PRIMARY KEY CLUSTERED 
(
	[Que_Ins_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[St_Crs]    Script Date: 1/20/2021 9:21:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[St_Crs](
	[St_ID] [int] NOT NULL,
	[Crs_ID] [int] NOT NULL,
 CONSTRAINT [PK_St_Crs] PRIMARY KEY CLUSTERED 
(
	[St_ID] ASC,
	[Crs_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 1/20/2021 9:21:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[St_ID] [int] NOT NULL,
	[SSN] [int] NOT NULL,
	[St_Name] [varchar](50) NOT NULL,
	[Birth_Date] [date] NOT NULL,
	[St_Email] [varchar](50) NOT NULL,
	[St_Hashed_Pwd] [varchar](200) NOT NULL,
	[Dept_ID] [int] NOT NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[St_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Topic]    Script Date: 1/20/2021 9:21:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Topic](
	[Top_ID] [int] NOT NULL,
	[Top_Name] [varchar](50) NOT NULL,
	[Crs_ID] [int] NOT NULL,
 CONSTRAINT [PK_Topic] PRIMARY KEY CLUSTERED 
(
	[Top_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cho_Que]  WITH CHECK ADD  CONSTRAINT [FK_Cho_Que_Choice] FOREIGN KEY([Cho_ID])
REFERENCES [dbo].[Choice] ([Cho_ID])
GO
ALTER TABLE [dbo].[Cho_Que] CHECK CONSTRAINT [FK_Cho_Que_Choice]
GO
ALTER TABLE [dbo].[Cho_Que]  WITH CHECK ADD  CONSTRAINT [FK_Cho_Que_Question] FOREIGN KEY([Que_ID])
REFERENCES [dbo].[Question] ([Que_ID])
GO
ALTER TABLE [dbo].[Cho_Que] CHECK CONSTRAINT [FK_Cho_Que_Question]
GO
ALTER TABLE [dbo].[Department]  WITH CHECK ADD  CONSTRAINT [FK_Department_Instructor] FOREIGN KEY([Mgr_ID])
REFERENCES [dbo].[Instructor] ([Ins_ID])
GO
ALTER TABLE [dbo].[Department] CHECK CONSTRAINT [FK_Department_Instructor]
GO
ALTER TABLE [dbo].[Exam]  WITH CHECK ADD  CONSTRAINT [FK_Exam_Course] FOREIGN KEY([Crs_ID])
REFERENCES [dbo].[Course] ([Crs_ID])
GO
ALTER TABLE [dbo].[Exam] CHECK CONSTRAINT [FK_Exam_Course]
GO
ALTER TABLE [dbo].[Exam]  WITH CHECK ADD  CONSTRAINT [FK_Exam_Student] FOREIGN KEY([St_ID])
REFERENCES [dbo].[Student] ([St_ID])
GO
ALTER TABLE [dbo].[Exam] CHECK CONSTRAINT [FK_Exam_Student]
GO
ALTER TABLE [dbo].[Ins_Crs]  WITH CHECK ADD  CONSTRAINT [FK_Ins_Crs_Course] FOREIGN KEY([Crs_ID])
REFERENCES [dbo].[Course] ([Crs_ID])
GO
ALTER TABLE [dbo].[Ins_Crs] CHECK CONSTRAINT [FK_Ins_Crs_Course]
GO
ALTER TABLE [dbo].[Ins_Crs]  WITH CHECK ADD  CONSTRAINT [FK_Ins_Crs_Instructor] FOREIGN KEY([Ins_ID])
REFERENCES [dbo].[Instructor] ([Ins_ID])
GO
ALTER TABLE [dbo].[Ins_Crs] CHECK CONSTRAINT [FK_Ins_Crs_Instructor]
GO
ALTER TABLE [dbo].[Instructor]  WITH CHECK ADD  CONSTRAINT [FK_Instructor_Department] FOREIGN KEY([Dept_ID])
REFERENCES [dbo].[Department] ([Dept_ID])
GO
ALTER TABLE [dbo].[Instructor] CHECK CONSTRAINT [FK_Instructor_Department]
GO
ALTER TABLE [dbo].[Que_Ins_Cho]  WITH CHECK ADD  CONSTRAINT [FK_Que_Ins_Cho_Choice1] FOREIGN KEY([Cho_ID])
REFERENCES [dbo].[Choice] ([Cho_ID])
GO
ALTER TABLE [dbo].[Que_Ins_Cho] CHECK CONSTRAINT [FK_Que_Ins_Cho_Choice1]
GO
ALTER TABLE [dbo].[Que_Ins_Cho]  WITH CHECK ADD  CONSTRAINT [FK_Que_Ins_Cho_Question_Instance] FOREIGN KEY([Que_Ins_ID])
REFERENCES [dbo].[Question_Instance] ([Que_Ins_ID])
GO
ALTER TABLE [dbo].[Que_Ins_Cho] CHECK CONSTRAINT [FK_Que_Ins_Cho_Question_Instance]
GO
ALTER TABLE [dbo].[Question]  WITH CHECK ADD  CONSTRAINT [FK_Question_Course] FOREIGN KEY([Crs_ID])
REFERENCES [dbo].[Course] ([Crs_ID])
GO
ALTER TABLE [dbo].[Question] CHECK CONSTRAINT [FK_Question_Course]
GO
ALTER TABLE [dbo].[Question_Instance]  WITH CHECK ADD  CONSTRAINT [FK_Question_Instance_Exam] FOREIGN KEY([Exam_ID])
REFERENCES [dbo].[Exam] ([Exam_ID])
GO
ALTER TABLE [dbo].[Question_Instance] CHECK CONSTRAINT [FK_Question_Instance_Exam]
GO
ALTER TABLE [dbo].[Question_Instance]  WITH CHECK ADD  CONSTRAINT [FK_Question_Instance_Question] FOREIGN KEY([Que_ID])
REFERENCES [dbo].[Question] ([Que_ID])
GO
ALTER TABLE [dbo].[Question_Instance] CHECK CONSTRAINT [FK_Question_Instance_Question]
GO
ALTER TABLE [dbo].[St_Crs]  WITH CHECK ADD  CONSTRAINT [FK_St_Crs_Course] FOREIGN KEY([Crs_ID])
REFERENCES [dbo].[Course] ([Crs_ID])
GO
ALTER TABLE [dbo].[St_Crs] CHECK CONSTRAINT [FK_St_Crs_Course]
GO
ALTER TABLE [dbo].[St_Crs]  WITH CHECK ADD  CONSTRAINT [FK_St_Crs_Student] FOREIGN KEY([St_ID])
REFERENCES [dbo].[Student] ([St_ID])
GO
ALTER TABLE [dbo].[St_Crs] CHECK CONSTRAINT [FK_St_Crs_Student]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Department] FOREIGN KEY([Dept_ID])
REFERENCES [dbo].[Department] ([Dept_ID])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Department]
GO
ALTER TABLE [dbo].[Topic]  WITH CHECK ADD  CONSTRAINT [FK_Topic_Course] FOREIGN KEY([Crs_ID])
REFERENCES [dbo].[Course] ([Crs_ID])
GO
ALTER TABLE [dbo].[Topic] CHECK CONSTRAINT [FK_Topic_Course]
GO
USE [master]
GO
